# M-Pesa Daraja
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=

# Card Payments (e.g. Stripe)
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_PUBLIC_KEY=
